#timeline {
  height: 1440px;
  width: 120px;
  border: 2px solid #111;
  border-right: none;
  position: relative;
  margin: 60px;
}

.divider {
  border: 1px solid #111;
  position: absolute;
  width: 80px;
}