body {
  margin: 0;
}

header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

div {
  margin: 0 auto;
  border: 1px solid #111;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}