#timeline {
  height: 2400px;
  width: 80px;
  border: 2px solid #111;
  border-right: none;
  border-top: none;
  position: relative;
  margin: 60px;
}

.divider {
  border: 1px solid #111;
  position: absolute;
  width: 80px;
}

.halfD {
  border: 1px solid #111;
  position: absolute;
  width: 40px;
}