body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  gap: 20px;
}

div {
  border: 1px solid #111;
  border-top: none;
  width: 25%;
  height: 25%;
  cursor: pointer;
}

#input {
  border-left: none;
  border-right: none;
}

#output {
  border-right: none;
  border-left: none;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}