#timeline {
  height: 52px;
  width: 720px;
  border: 2px solid #111;
  border-right: none;
  border-top: none;
  position: relative;
  margin: 60px;
}

.divider {
  border: 1px solid #111;
  position: absolute;
  height: 52px;
}